{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": "webpack"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": ["error", {
      "extensions": [".js", ".jsx"]
    }],
    "arrow-parens": "off"
  }
}
