@font-face
{
	src: url("fonts/proximanovacond-regular.otf");
	font-family: "Proxima Nova";
}

@media (max-width: 650px)
{
	.registration
	{
		right: 0;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		padding: 20px;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background-color: rgb(255, 255, 255);
		background-clip: content-box;
		cursor: pointer;
	}
}

@media (max-width: 650px)
{
	.registration::before
	{
		top: 9px;
	}
}

@media (max-width: 650px)
{
	.registration::after,
	.registration::before
	{
		content: " ";
		position: absolute;
		left: 50%;
		width: 5px;
		height: 5px;
		margin-left: -3px;
		border-radius: 50%;
		background-color: rgb(255, 255, 255);
	}
}
@media (max-width: 650px)
{
	.registration::after
	{
		bottom: 9px;
	}
}
@media (max-width: 650px)
{
	.authorization
	{
		display: none;
	}
	.logo
	{
		font-size: 20px;
	}
	body
	{
		font-size: 14px;
	}
}

@media (min-width: 1200px)
{
	body
	{
		width: 100%;
	}
}
/*@media (max-width: 320px)
{
	.registration::after,
	.registration::before
	{
		content: " ";
		position: absolute;
		left: 50%;
		width: 5px;
		height: 5px;
		margin-left: -3px;
		border-radius: 50%;
		background-color: rgb(255, 255, 255);
	}
}
*/