@font-face
{
  src: url("fonts/proximanova-semibold.otf");
  font-family: "Proxima Nova", sans-serif;
}

h2
{
  color: rgba(255, 92, 51, 0.8);
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
}

.btn
{
 border-radius: 33px;
 cursor: pointer;
 background-color: rgba(255, 92, 51,.3);
 font-family: "Proxima Nova", sans-serif;
 font-size: 18px;
 font-weight: 600;
 height: 40px;
 color: rgba(255,255,255,.8);
 margin-top: 10px;
 margin-left: 20px;
 padding: 0 16px;
 border: 0;
}

.btn:hover
{
  background: rgba(255, 92, 51, 0.5);
}

.btn:focus
{
  outline: none;
}

form
{
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

input
{
  border: 0;
  border-bottom: 1px solid rgb(255, 195, 140);
  font-size: 16px;
  width: 290px;
  padding: 5px;
  cursor: pointer;
  color: rgba(255, 92, 51, .8);
  text-align: center;
  background: unset !important;
}

input:focus
{
  outline: none;
}

input::selection
{
  background: rgba(255, 92, 51, .3); 
}

input::-webkit-input-placeholder
{
  /*color: rgba(255, 255, 255, .8);*/
  color: rgba(255, 92, 51, 0.5);
}

fieldset
{
  border-radius: 5px;
  border: 2px solid rgb(255, 195, 140);
  width:250px;
  height: 390px;
  color: rgb(255, 92, 51);
  padding: 30px;
  text-align: center;
  font-family: "Proxima Nova", sans-serif;
}

body
{
  font-size: 16px;
  background-image: url(../img/bg-form.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto; 
}