body {
  display: flex;
  flex-direction: column;
}
.logoWrapper {
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}

.imgLogo {
  display: flex;
  width: 100%;
  max-width: 88px;
}
